In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Dataset/Mobil Indonesia.csv')
df.head(5)

,Maker,Model,Number of Cylinders,Engine Type,Engine Horse Power,Engine Horse Power RPM,Transmission,Mixed Fuel Consumption per Km,Fuel Tank Capacity,Acceleration 0 to 100 Km,Max Speed Km per Hour,Fuel Grade (in Octane),Year,Type of Car
0,Audi,A3,4.0,Turbocharged Gasoline Direct Injection,224,5000.0,7-speed dual clutch,6.2 L/100 km,50 L,6.2 s,250,95.0,2021,Hatchback
1,Audi,A3 Hybrid,4.0,Turbocharged Gasoline Direct Injection,224,5000.0,8-speed dual clutch,1.9 L/100 km,36 L,6.7 s,235,95.0,2021,Hatchback
2,Audi,A4,4.0,Turbocharged Gasoline Direct Injection,258,5000.0,8-speed automatic,6.4 L/100 km,59 L,5.8 s,250,95.0,2021,Sedan
3,Audi,A4 Hybrid,4.0,Turbocharged Gasoline Direct Injection,292,5000.0,8-speed automatic,1.7 L/100 km,40 L,5.9 s,230,95.0,2021,Sedan
4,Audi,A5,4.0,Turbocharged Gasoline Direct Injection,374,5500.0,8-speed automatic,7.8 L/100 km,59 L,4.1 s,250,95.0,2021,Coupe

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Maker                          265 non-null    object
 1   Model                          265 non-null    object
 2   Number of Cylinders            206 non-null    object
 3   Engine Type                    265 non-null    object
 4   Engine Horse Power             262 non-null    object
 5   Engine Horse Power RPM         205 non-null    object
 6   Transmission                   262 non-null    object
 7   Mixed Fuel Consumption per Km  216 non-null    object
 8   Fuel Tank Capacity             262 non-null    object
 9   Acceleration 0 to 100 Km       262 non-null    object
 10  Max Speed Km per Hour          262 non-null    object
 11  Fuel Grade (in Octane)         206 non-null    object
 12  Year                           265 non-null    int64
 13  Type of Car                    265 non-null    object
dtypes: int64(1), object(13)
memory usage: 29.1+ KB

In [4]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 205 entries, 0 to 264
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Maker                          205 non-null    object
 1   Model                          205 non-null    object
 2   Number of Cylinders            205 non-null    object
 3   Engine Type                    205 non-null    object
 4   Engine Horse Power             205 non-null    object
 5   Engine Horse Power RPM         205 non-null    object
 6   Transmission                   205 non-null    object
 7   Mixed Fuel Consumption per Km  205 non-null    object
 8   Fuel Tank Capacity             205 non-null    object
 9   Acceleration 0 to 100 Km       205 non-null    object
 10  Max Speed Km per Hour          205 non-null    object
 11  Fuel Grade (in Octane)         205 non-null    object
 12  Year                           205 non-null    int64
 13  Type of Car                    205 non-null    object
dtypes: int64(1), object(13)
memory usage: 24.0+ KB

Tipe Bensin
- Gasoline = 0
- Diesel = 1

In [5]:
df['Engine Type'].unique()

array(['Turbocharged Gasoline Direct Injection',
       'Gasoline Direct Injection', 'Petrol',
       'Dual Variable Valve Timing-intelligent', 'Multi Point Injection',
       'Turbocharged Diesel', 'Diesel/Petrol/Plug-in Hybrid',
       'Diesel/Petrol/Mild Hybrid', 'Hybrid', 'Diesel',
       'Direct Injection'], dtype=object)

Tipe Bensin
- Turbocharged Gasoline Direct Injection = 0
- Battery Electric (hapus)
- Gasoline Direct Injection = 0
- Petrol = 0
- Electric (hapus)
- Hybrid (hapus)
- Dual Variable Valve Timing-intelligent = 0
- Multi Point Injection = 0
- Turbocharged Diesel = 1
- Diesel/Petrol/Plug-in Hybrid = 1
- Diesel/Petrol/Mild Hybrid = 1
- Diesel = 1
- Fuel Cell (hapus)

In [6]:
engine_to_remove = ['Battery Electric', 'Electric', 'Hybrid', 'Fuel Cell']
df = df[~df['Engine Type'].isin(engine_to_remove)]
df['Engine Type'].unique()

array(['Turbocharged Gasoline Direct Injection',
       'Gasoline Direct Injection', 'Petrol',
       'Dual Variable Valve Timing-intelligent', 'Multi Point Injection',
       'Turbocharged Diesel', 'Diesel/Petrol/Plug-in Hybrid',
       'Diesel/Petrol/Mild Hybrid', 'Diesel', 'Direct Injection'],
      dtype=object)

In [7]:
df['Engine Type'] = df['Engine Type'].replace({
    'Turbocharged Gasoline Direct Injection' : 0,
    'Gasoline Direct Injection' : 0,
    'Petrol' : 0,
    'Dual Variable Valve Timing-intelligent' : 0,
    'Multi Point Injection' : 0,
    'Turbocharged Diesel' : 1,
    'Diesel/Petrol/Plug-in Hybrid' : 1,
    'Diesel/Petrol/Mild Hybrid' : 1,
    'Diesel' : 1,
    'Direct Injection' : 0
})

df['Engine Type'].unique()

array([0, 1], dtype=int64)

Tipe Transmisi
- Automatic = 0
- Manual = 1

In [8]:
df['Transmission'].unique()

array(['7-speed dual clutch', '8-speed dual clutch', '8-speed automatic',
       '6-speed automatic', '9-speed automatic', 'Automatic',
       '4-speed automatic', 'Continuously Variable Transmission',
       '10-speed automatic', '5-speed manual', '6-speed manual',
       '6-speed dual clutch', '8-speed Automatic', '1-speed direct drive',
       'Manual'], dtype=object)

Tipe Transmisi
- 7-speed dual clutch = 1
- 8-speed dual clutch = 1
- 8-speed automatic = 0
- 2-speed direct drive = 1
- 1-speed direct drive = 1
- 6-speed automatic = 0
- 9-speed automatic= 0
- Automatic = 0
- 4-speed automatic = 0
- Continuously Variable Transmission (automatic) = 0
- 10-speed automatic = 0
- 5-speed manual = 1
- 6-speed manual = 1
- 6-speed dual clutch = 1
- 8-speed Automatic = 0
- 1-speed Automatic = 1
- Manual = 1

In [9]:
df['Transmission'] = df['Transmission'].replace({
    '7-speed dual clutch': 1,
    '8-speed dual clutch': 1,
    '8-speed automatic': 0,
    '6-speed automatic': 0,
    '9-speed automatic': 0,
    'Automatic': 0,
    '4-speed automatic': 0,
    'Continuously Variable Transmission': 0,
    '10-speed automatic': 0,
    '5-speed manual': 1,
    '6-speed manual': 1,
    '6-speed dual clutch': 1,
    '8-speed Automatic': 0,
    '1-speed direct drive': 0,
    'Manual': 1
})

df['Transmission'].unique()

array([1, 0], dtype=int64)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 204 entries, 0 to 264
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Maker                          204 non-null    object
 1   Model                          204 non-null    object
 2   Number of Cylinders            204 non-null    object
 3   Engine Type                    204 non-null    int64
 4   Engine Horse Power             204 non-null    object
 5   Engine Horse Power RPM         204 non-null    object
 6   Transmission                   204 non-null    int64
 7   Mixed Fuel Consumption per Km  204 non-null    object
 8   Fuel Tank Capacity             204 non-null    object
 9   Acceleration 0 to 100 Km       204 non-null    object
 10  Max Speed Km per Hour          204 non-null    object
 11  Fuel Grade (in Octane)         204 non-null    object
 12  Year                           204 non-null    int64
 13  Type of Car                    204 non-null    object
dtypes: int64(3), object(11)
memory usage: 23.9+ KB