In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Dataset/Mobil Indonesia.csv')
df.head(5)

,Maker,Model,Number of Cylinders,Engine Type,Engine Horse Power,Engine Horse Power RPM,Transmission,Mixed Fuel Consumption per Km,Fuel Tank Capacity,Acceleration 0 to 100 Km,Max Speed Km per Hour,Fuel Grade (in Octane),Year,Type of Car
0,Audi,A3,4.0,Turbocharged Gasoline Direct Injection,224,5000.0,7-speed dual clutch,6.2 L/100 km,50 L,6.2 s,250,95.0,2021,Hatchback
1,Audi,A3 Hybrid,4.0,Turbocharged Gasoline Direct Injection,224,5000.0,8-speed dual clutch,1.9 L/100 km,36 L,6.7 s,235,95.0,2021,Hatchback
2,Audi,A4,4.0,Turbocharged Gasoline Direct Injection,258,5000.0,8-speed automatic,6.4 L/100 km,59 L,5.8 s,250,95.0,2021,Sedan
3,Audi,A4 Hybrid,4.0,Turbocharged Gasoline Direct Injection,292,5000.0,8-speed automatic,1.7 L/100 km,40 L,5.9 s,230,95.0,2021,Sedan
4,Audi,A5,4.0,Turbocharged Gasoline Direct Injection,374,5500.0,8-speed automatic,7.8 L/100 km,59 L,4.1 s,250,95.0,2021,Coupe

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Maker                          265 non-null    object
 1   Model                          265 non-null    object
 2   Number of Cylinders            206 non-null    object
 3   Engine Type                    265 non-null    object
 4   Engine Horse Power             262 non-null    object
 5   Engine Horse Power RPM         205 non-null    object
 6   Transmission                   262 non-null    object
 7   Mixed Fuel Consumption per Km  216 non-null    object
 8   Fuel Tank Capacity             262 non-null    object
 9   Acceleration 0 to 100 Km       262 non-null    object
 10  Max Speed Km per Hour          262 non-null    object
 11  Fuel Grade (in Octane)         206 non-null    object
 12  Year                           265 non-null    int64
 13  Type of Car                    265 non-null    object
dtypes: int64(1), object(13)
memory usage: 29.1+ KB

In [4]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 205 entries, 0 to 264
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Maker                          205 non-null    object
 1   Model                          205 non-null    object
 2   Number of Cylinders            205 non-null    object
 3   Engine Type                    205 non-null    object
 4   Engine Horse Power             205 non-null    object
 5   Engine Horse Power RPM         205 non-null    object
 6   Transmission                   205 non-null    object
 7   Mixed Fuel Consumption per Km  205 non-null    object
 8   Fuel Tank Capacity             205 non-null    object
 9   Acceleration 0 to 100 Km       205 non-null    object
 10  Max Speed Km per Hour          205 non-null    object
 11  Fuel Grade (in Octane)         205 non-null    object
 12  Year                           205 non-null    int64
 13  Type of Car                    205 non-null    object
dtypes: int64(1), object(13)
memory usage: 24.0+ KB

Tipe Bensin
- Gasoline = 0
- Diesel = 1

In [5]:
df['Engine Type'].unique()

array(['Turbocharged Gasoline Direct Injection',
       'Gasoline Direct Injection', 'Petrol',
       'Dual Variable Valve Timing-intelligent', 'Multi Point Injection',
       'Turbocharged Diesel', 'Diesel/Petrol/Plug-in Hybrid',
       'Diesel/Petrol/Mild Hybrid', 'Hybrid', 'Diesel',
       'Direct Injection'], dtype=object)

Tipe Bensin
- Turbocharged Gasoline Direct Injection = 0
- Battery Electric (hapus)
- Gasoline Direct Injection = 0
- Petrol = 0
- Electric (hapus)
- Hybrid (hapus)
- Dual Variable Valve Timing-intelligent = 0
- Multi Point Injection = 0
- Turbocharged Diesel = 1
- Diesel/Petrol/Plug-in Hybrid = 1
- Diesel/Petrol/Mild Hybrid = 1
- Diesel = 1
- Fuel Cell (hapus)

In [6]:
engine_to_remove = ['Battery Electric', 'Electric', 'Hybrid', 'Fuel Cell']
df = df[~df['Engine Type'].isin(engine_to_remove)]
df['Engine Type'].unique()

array(['Turbocharged Gasoline Direct Injection',
       'Gasoline Direct Injection', 'Petrol',
       'Dual Variable Valve Timing-intelligent', 'Multi Point Injection',
       'Turbocharged Diesel', 'Diesel/Petrol/Plug-in Hybrid',
       'Diesel/Petrol/Mild Hybrid', 'Diesel', 'Direct Injection'],
      dtype=object)

In [7]:
df['Engine Type'] = df['Engine Type'].replace({
    'Turbocharged Gasoline Direct Injection' : 0,
    'Gasoline Direct Injection' : 0,
    'Petrol' : 0,
    'Dual Variable Valve Timing-intelligent' : 0,
    'Multi Point Injection' : 0,
    'Turbocharged Diesel' : 1,
    'Diesel/Petrol/Plug-in Hybrid' : 1,
    'Diesel/Petrol/Mild Hybrid' : 1,
    'Diesel' : 1,
    'Direct Injection' : 0
})

df['Engine Type'].unique()

array([0, 1], dtype=int64)

Tipe Transmisi
- Automatic = 0
- Manual = 1

In [8]:
df['Transmission'].unique()

array(['7-speed dual clutch', '8-speed dual clutch', '8-speed automatic',
       '6-speed automatic', '9-speed automatic', 'Automatic',
       '4-speed automatic', 'Continuously Variable Transmission',
       '10-speed automatic', '5-speed manual', '6-speed manual',
       '6-speed dual clutch', '8-speed Automatic', '1-speed direct drive',
       'Manual'], dtype=object)

Tipe Transmisi
- 7-speed dual clutch = 1
- 8-speed dual clutch = 1
- 8-speed automatic = 0
- 2-speed direct drive = 1
- 1-speed direct drive = 1
- 6-speed automatic = 0
- 9-speed automatic= 0
- Automatic = 0
- 4-speed automatic = 0
- Continuously Variable Transmission (automatic) = 0
- 10-speed automatic = 0
- 5-speed manual = 1
- 6-speed manual = 1
- 6-speed dual clutch = 1
- 8-speed Automatic = 0
- 1-speed Automatic = 1
- Manual = 1

In [9]:
df['Transmission'] = df['Transmission'].replace({
    '7-speed dual clutch': 1,
    '8-speed dual clutch': 1,
    '8-speed automatic': 0,
    '6-speed automatic': 0,
    '9-speed automatic': 0,
    'Automatic': 0,
    '4-speed automatic': 0,
    'Continuously Variable Transmission': 0,
    '10-speed automatic': 0,
    '5-speed manual': 1,
    '6-speed manual': 1,
    '6-speed dual clutch': 1,
    '8-speed Automatic': 0,
    '1-speed direct drive': 0,
    'Manual': 1
})

df['Transmission'].unique()

array([1, 0], dtype=int64)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 204 entries, 0 to 264
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Maker                          204 non-null    object
 1   Model                          204 non-null    object
 2   Number of Cylinders            204 non-null    object
 3   Engine Type                    204 non-null    int64
 4   Engine Horse Power             204 non-null    object
 5   Engine Horse Power RPM         204 non-null    object
 6   Transmission                   204 non-null    int64
 7   Mixed Fuel Consumption per Km  204 non-null    object
 8   Fuel Tank Capacity             204 non-null    object
 9   Acceleration 0 to 100 Km       204 non-null    object
 10  Max Speed Km per Hour          204 non-null    object
 11  Fuel Grade (in Octane)         204 non-null    object
 12  Year                           204 non-null    int64
 13  Type of Car                    204 non-null    object
dtypes: int64(3), object(11)
memory usage: 23.9+ KB

**Type of Car**

* Sedan + Saloon + Coupe + Convertible + Coupe/Convertible= Sedan = 0
* SUV + Hatchback = Jeep = 1
* MPV + Minivan + Van + Estate = Bus = 2
* Pickup = 3

In [11]:
df['Type of Car'].unique()

array(['Hatchback', 'Sedan', 'Coupe', 'SUV', 'MPV', 'Minivan', 'Pickup',
       'Coupe/Convertible', 'Saloon', 'Convertible', 'Estate', 'Van'],
      dtype=object)

In [12]:
df['Type of Car'] = df['Type of Car'].replace({
    'Sedan': 0,
    'Saloon': 0,
    'Coupe': 0,
    'Convertible': 0,
    'Coupe/Convertible': 0,
    'SUV': 1,
    'Hatchback': 1,
    'MPV': 2,
    'Minivan': 2,
    'Van': 2,
    'Estate': 2,
    'Pickup': 3
})

In [13]:
df['Type of Car'] = df['Type of Car'].astype(int)
df['Type of Car'].unique()

array([1, 0, 2, 3])

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 204 entries, 0 to 264
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Maker                          204 non-null    object
 1   Model                          204 non-null    object
 2   Number of Cylinders            204 non-null    object
 3   Engine Type                    204 non-null    int64
 4   Engine Horse Power             204 non-null    object
 5   Engine Horse Power RPM         204 non-null    object
 6   Transmission                   204 non-null    int64
 7   Mixed Fuel Consumption per Km  204 non-null    object
 8   Fuel Tank Capacity             204 non-null    object
 9   Acceleration 0 to 100 Km       204 non-null    object
 10  Max Speed Km per Hour          204 non-null    object
 11  Fuel Grade (in Octane)         204 non-null    object
 12  Year                           204 non-null    int64
 13  Type of Car                    204 non-null    int32
dtypes: int32(1), int64(3), object(10)
memory usage: 23.1+ KB

**Processing the object datas to integers or floats**

**Mixed Fuel Consumption per Km**

- The original data is : x.x L/100 km.
- Want to extract only the x.x number into float

In [15]:
df['Mixed Fuel Consumption per Km'].unique()

array(['6.2 L/100 km', '1.9 L/100 km', '6.4 L/100 km', '1.7 L/100 km',
       '7.8 L/100 km', '1.8 L/100 km', '8.3 L/100 km', '8.8 L/100 km',
       '2.1 L/100 km', '11.3 L/100 km', '2.6 L/100 km', '13.3 L/100 km',
       '6.3 L/100 km', '7.1 L/100 km', '10.7 L/100 km', '2.3 L/100 km',
       '6.8 L/100 km', '9.1 L/100 km', '2.4 L/100 km', '7.6 L/100 km',
       '7.9 L/100 km', '4.9 L', '5.6 L', '7.9 L', '5.4 L/100 km',
       '8.4 L/100 km', '4.5 L/100 km', '5.9 L/100 km', '7.4 L/100 km',
       '8.7 L/100 km', '5.6 L/100 km', '7.7 L/100 km', '4.9 L/100 km',
       '11.2 L/100 km', '11.4 L/100 km', '5.3 L/100 km', '5.1 L/100 km',
       '7.5 L/100 km', '3.4 L/100 km', '6.7 L/100 km', '1.4-7.9 L/100km',
       '1.8-11.7 L/100km', '8.4-11.9 L/100km', '4.8-7.9 L/100km',
       '9.6 L/100 km', '3.5 L/100 km', '4.3 L/100 km', '1.6 L/100 km',
       '4.1 L/100 km', '4.7 L/100 km', '4.8 L/100 km', '5.8 L/100 km',
       '11.6 L/100 km', '9.5 L/100 km', '4.6 L/100 km', '4.2 L/100 km',
       '8.2 L/100 km', '9.8 L/100 km', '10.5 L/100 km', '6.6 L/100 km',
       '1.4 L/100 km', '7.3 L/100 km', '1.5 L/100 km', '7.2 L/100 km',
       '8.1 L/100 km', '2.5 L/100 km', '8.9 L/100 km', '9.4 L/100 km',
       '5.5 L/100 km', '8.3 L', '7.2 L', '7.1 L', '5.2 L/100 km',
       '1.3 L/100 km', '5.7 L/100 km', '13.6 L/100 km', '4.4 L/100 km',
       '2.9 L/100 km', '16.8 L/100 km', '14.3 L/100 km', '6 L/100 km',
       '6.5 L/100 km', '8 L/100 km', '8.5 L/100 km'], dtype=object)

In [16]:
df['Mixed Fuel Consumption per Km'] = df['Mixed Fuel Consumption per Km'].str.replace(' L/100 km', '')
df['Mixed Fuel Consumption per Km'] = df['Mixed Fuel Consumption per Km'].str.replace(' L/100km', '')
df['Mixed Fuel Consumption per Km'] = df['Mixed Fuel Consumption per Km'].str.replace(' L', '')

In [17]:
df['Mixed Fuel Consumption per Km'].unique()

array(['6.2', '1.9', '6.4', '1.7', '7.8', '1.8', '8.3', '8.8', '2.1',
       '11.3', '2.6', '13.3', '6.3', '7.1', '10.7', '2.3', '6.8', '9.1',
       '2.4', '7.6', '7.9', '4.9', '5.6', '5.4', '8.4', '4.5', '5.9',
       '7.4', '8.7', '7.7', '11.2', '11.4', '5.3', '5.1', '7.5', '3.4',
       '6.7', '1.4-7.9', '1.8-11.7', '8.4-11.9', '4.8-7.9', '9.6', '3.5',
       '4.3', '1.6', '4.1', '4.7', '4.8', '5.8', '11.6', '9.5', '4.6',
       '4.2', '8.2', '9.8', '10.5', '6.6', '1.4', '7.3', '1.5', '7.2',
       '8.1', '2.5', '8.9', '9.4', '5.5', '5.2', '1.3', '5.7', '13.6',
       '4.4', '2.9', '16.8', '14.3', '6', '6.5', '8', '8.5'], dtype=object)

Need to replace the x.x-y.y data manually, changing it into the average of both values

In [18]:
import numpy as np

df['Mixed Fuel Consumption per Km'] = df['Mixed Fuel Consumption per Km'].replace({
    '1.4-7.9': np.mean([1.4, 7.9]),
    '1.8-11.7': np.mean([1.8, 11.7]),
    '8.4-11.9': np.mean([8.4, 11.9]),
    '4.8-7.9': np.mean([4.8, 7.9])
})

In [19]:
df['Mixed Fuel Consumption per Km'].unique()

array(['6.2', '1.9', '6.4', '1.7', '7.8', '1.8', '8.3', '8.8', '2.1',
       '11.3', '2.6', '13.3', '6.3', '7.1', '10.7', '2.3', '6.8', '9.1',
       '2.4', '7.6', '7.9', '4.9', '5.6', '5.4', '8.4', '4.5', '5.9',
       '7.4', '8.7', '7.7', '11.2', '11.4', '5.3', '5.1', '7.5', '3.4',
       '6.7', 4.65, 6.75, 10.15, 6.35, '9.6', '3.5', '4.3', '1.6', '4.1',
       '4.7', '4.8', '5.8', '11.6', '9.5', '4.6', '4.2', '8.2', '9.8',
       '10.5', '6.6', '1.4', '7.3', '1.5', '7.2', '8.1', '2.5', '8.9',
       '9.4', '5.5', '5.2', '1.3', '5.7', '13.6', '4.4', '2.9', '16.8',
       '14.3', '6', '6.5', '8', '8.5'], dtype=object)

In [20]:
df['Mixed Fuel Consumption per Km'] = df['Mixed Fuel Consumption per Km'].astype(float)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 204 entries, 0 to 264
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Maker                          204 non-null    object
 1   Model                          204 non-null    object
 2   Number of Cylinders            204 non-null    object
 3   Engine Type                    204 non-null    int64
 4   Engine Horse Power             204 non-null    object
 5   Engine Horse Power RPM         204 non-null    object
 6   Transmission                   204 non-null    int64
 7   Mixed Fuel Consumption per Km  204 non-null    float64
 8   Fuel Tank Capacity             204 non-null    object
 9   Acceleration 0 to 100 Km       204 non-null    object
 10  Max Speed Km per Hour          204 non-null    object
 11  Fuel Grade (in Octane)         204 non-null    object
 12  Year                           204 non-null    int64
 13  Type of Car                    204 non-null    int32
dtypes: float64(1), int32(1), int64(3), object(9)
memory usage: 23.1+ KB

**Fuel Tank Capacity**
- Original data is x L
- Only need the x number

In [22]:
df['Fuel Tank Capacity'].unique()

array(['50 L', '36 L', '59 L', '40 L', '68 L', '78 L', '46 L', '73 L',
       '61 L', '65 L', '34 L', '57 L', '45 L', '53 L', '33 L', '30 L',
       '58 L', '56 L', '47 L', '43 L', '74 L', '26 L', '67 L', '80 L',
       '87 L', '56-69 L', '60-82 L', '63-70 L', '56-63 L', '81 L', '66 L',
       '60 L', '82 L', '37 L', '51 L', '62 L', '48 L', '35 L', '85 L',
       '55 L', '63 L', '42 L', '44 L', '39 L', '32 L', '93 L', '69 L',
       '100 L', '144 L', '70 L'], dtype=object)

In [23]:
df['Fuel Tank Capacity'] = df['Fuel Tank Capacity'].str.replace(' L', '')
df['Fuel Tank Capacity'].unique()

array(['50', '36', '59', '40', '68', '78', '46', '73', '61', '65', '34',
       '57', '45', '53', '33', '30', '58', '56', '47', '43', '74', '26',
       '67', '80', '87', '56-69', '60-82', '63-70', '56-63', '81', '66',
       '60', '82', '37', '51', '62', '48', '35', '85', '55', '63', '42',
       '44', '39', '32', '93', '69', '100', '144', '70'], dtype=object)

Just like the Max Fuel Consumption, need to manually average the x-y data

In [24]:
df['Fuel Tank Capacity'] = df['Fuel Tank Capacity'].replace({
    '56-69': np.mean([56, 69]),
    '60-82': np.mean([60, 82]),
    '63-70': np.mean([63, 70]),
    '56-63': np.mean([56, 63])
})
df['Fuel Tank Capacity'] = df['Fuel Tank Capacity'].astype(int)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 204 entries, 0 to 264
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Maker                          204 non-null    object
 1   Model                          204 non-null    object
 2   Number of Cylinders            204 non-null    object
 3   Engine Type                    204 non-null    int64
 4   Engine Horse Power             204 non-null    object
 5   Engine Horse Power RPM         204 non-null    object
 6   Transmission                   204 non-null    int64
 7   Mixed Fuel Consumption per Km  204 non-null    float64
 8   Fuel Tank Capacity             204 non-null    int32
 9   Acceleration 0 to 100 Km       204 non-null    object
 10  Max Speed Km per Hour          204 non-null    object
 11  Fuel Grade (in Octane)         204 non-null    object
 12  Year                           204 non-null    int64
 13  Type of Car                    204 non-null    int32
dtypes: float64(1), int32(2), int64(3), object(8)
memory usage: 22.3+ KB

**Acceleration 0 to 100 km**
- Original data is x.x s
- Only need x.x float data

In [26]:
df['Acceleration 0 to 100 Km'].unique()

array(['6.2 s', '6.7 s', '5.8 s', '5.9 s', '4.1 s', '5.1 s', '5.2 s',
       '5.3 s', '5.4 s', '4.2 s', '5 s', '3.2 s', '6.1 s', '4.4 s',
       '4.8 s', '3.8 s', '6.5 s', '6.9 s', '4.9 s', '6.8 s', '5.6 s',
       '9.8 s', '8.8 s', '9.9 s', '9.4 s', '8.2 s', '14.6 s', '13.6 s',
       '13.9 s', '11.4 s', '13.5 s', '11.8 s', '10.6 s', '12.5 s',
       '11.2 s', '7.6 s', '7.5 s', '8.6 s', '7.7 s', '6.4 s', '8.1 s',
       '10.4 s', '10.8 s', '9.3 s', '9.5 s', '12.9 s', '12.7 s',
       '6.4-10.2 s', '4.0-10.5 s', '3.7-5.7 s', '6.5-8.2 s', '6 s',
       '11.5 s', '8.7 s', '8.4 s', '10.3 s', '8.9 s', '8.5 s', '7.1 s',
       '4.7 s', '9.7 s', '6.6 s', '7.3 s', '5.7 s', '5.5 s', '12.4 s',
       '7.9 s', '9.6 s', '10.5 s', '12.6 s', '13.8 s', '11.3 s', '10.1 s',
       '6.3 s', '11.9 s', '11.1 s', '8.3 s', '7.8 s', '9.2 s', '11 s',
       '7.2 s', '12.8 s', '10 s', '15.5 s', '14.8 s'], dtype=object)

In [27]:
df['Acceleration 0 to 100 Km'] = df['Acceleration 0 to 100 Km'].str.replace(' s', '')
df['Acceleration 0 to 100 Km'].unique()

array(['6.2', '6.7', '5.8', '5.9', '4.1', '5.1', '5.2', '5.3', '5.4',
       '4.2', '5', '3.2', '6.1', '4.4', '4.8', '3.8', '6.5', '6.9', '4.9',
       '6.8', '5.6', '9.8', '8.8', '9.9', '9.4', '8.2', '14.6', '13.6',
       '13.9', '11.4', '13.5', '11.8', '10.6', '12.5', '11.2', '7.6',
       '7.5', '8.6', '7.7', '6.4', '8.1', '10.4', '10.8', '9.3', '9.5',
       '12.9', '12.7', '6.4-10.2', '4.0-10.5', '3.7-5.7', '6.5-8.2', '6',
       '11.5', '8.7', '8.4', '10.3', '8.9', '8.5', '7.1', '4.7', '9.7',
       '6.6', '7.3', '5.7', '5.5', '12.4', '7.9', '9.6', '10.5', '12.6',
       '13.8', '11.3', '10.1', '6.3', '11.9', '11.1', '8.3', '7.8', '9.2',
       '11', '7.2', '12.8', '10', '15.5', '14.8'], dtype=object)

In [28]:
df['Acceleration 0 to 100 Km'] = df['Acceleration 0 to 100 Km'].replace({
    '6.4-10.2': np.mean([6.4, 10.2]),
    '4.0-10.5': np.mean([4.0, 10.5]),
    '3.7-5.7': np.mean([3.7, 5.7]),
    '6.5-8.2': np.mean([6.5, 8.2])
})
df['Acceleration 0 to 100 Km'] = df['Acceleration 0 to 100 Km'].astype(float)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 204 entries, 0 to 264
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Maker                          204 non-null    object
 1   Model                          204 non-null    object
 2   Number of Cylinders            204 non-null    object
 3   Engine Type                    204 non-null    int64
 4   Engine Horse Power             204 non-null    object
 5   Engine Horse Power RPM         204 non-null    object
 6   Transmission                   204 non-null    int64
 7   Mixed Fuel Consumption per Km  204 non-null    float64
 8   Fuel Tank Capacity             204 non-null    int32
 9   Acceleration 0 to 100 Km       204 non-null    float64
 10  Max Speed Km per Hour          204 non-null    object
 11  Fuel Grade (in Octane)         204 non-null    object
 12  Year                           204 non-null    int64
 13  Type of Car                    204 non-null    int32
dtypes: float64(2), int32(2), int64(3), object(7)
memory usage: 22.3+ KB