## Features

=

In [2]:
import pandas as pd
from ydata_profiling import ProfileReport

In [3]:
columns_dipakai = ['Make',
                   'Modle',
                   'Year_from',
                   'Year_to',
                   'Body_type',
                   'number_of_cylinders',
                   'engine_type',
                   'engine_hp',
                   'engine_hp_rpm',
                   'transmission',
                   'mixed_fuel_consumption_per_100_km_l',
                   'fuel_tank_capacity_l',
                   'acceleration_0_100_km/h_s',
                   'max_speed_km_per_h',
                   'fuel_grade',
                   'battery_capacity_KW_per_h',
                   'charging_time_h',
                   'electric_range_km'
                   ]

In [5]:
df = pd.read_csv('E:/Important/Machine-Learning/Dataset/Car Dataset 1945-2020.csv', usecols = columns_dipakai, low_memory=False)

In [6]:
df.rename(columns = {'Modle':'Model'}, inplace = True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70823 entries, 0 to 70822
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Make                                 70823 non-null  object
 1   Model                                70823 non-null  object
 2   Year_from                            70586 non-null  float64
 3   Year_to                              70189 non-null  float64
 4   Body_type                            52252 non-null  object
 5   number_of_cylinders                  59544 non-null  float64
 6   engine_type                          59878 non-null  object
 7   engine_hp                            59877 non-null  float64
 8   engine_hp_rpm                        59408 non-null  object
 9   transmission                         59842 non-null  object
 10  mixed_fuel_consumption_per_100_km_l  40566 non-null  float64
 11  fuel_tank_capacity_l                 57847 non-null  object
 12  acceleration_0_100_km/h_s            40181 non-null  float64
 13  max_speed_km_per_h                   43074 non-null  object
 14  fuel_grade                           58715 non-null  object
 15  battery_capacity_KW_per_h            15 non-null     object
 16  electric_range_km                    15 non-null     float64
 17  charging_time_h                      7 non-null      object
dtypes: float64(7), object(11)
memory usage: 9.7+ MB

In [5]:
df

,Make,Modle,Year_from,Year_to,Body_type,number_of_cylinders,engine_type,engine_hp,engine_hp_rpm,transmission,mixed_fuel_consumption_per_100_km_l,fuel_tank_capacity_l,acceleration_0_100_km/h_s,max_speed_km_per_h,fuel_grade,battery_capacity_KW_per_h,electric_range_km,charging_time_h
0,AC,ACE,1993.0,2000.0,Cabriolet,8.0,Gasoline,354.0,6500,Manual,NaN,90,5.0,250,95,NaN,NaN,NaN
1,AC,ACE,1993.0,2000.0,Cabriolet,8.0,Gasoline,326.0,5800,Manual,NaN,90,5.0,250,98,NaN,NaN,NaN
2,AC,ACE,1993.0,2000.0,Cabriolet,8.0,Gasoline,260.0,5250,Automatic,8.0,80,NaN,225,95,NaN,NaN,NaN
3,AC,ACE,1993.0,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AC,ACE,1993.0,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70818,ZX,Landmark,2007.0,2009.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70819,ZX,Landmark,2007.0,2009.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70820,ZX,Landmark,2007.0,2009.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70821,ZX,Landmark,2007.0,2009.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70822,ZX,Landmark,2007.0,2009.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df = df[df['battery_capacity_KW_per_h'].isna()]
df = df[df['charging_time_h'].isna()]
df = df[df['electric_range_km'].isna()]

In [7]:
df = df[df['Year_from'].notna()]
df = df[df['Year_to'].notna()]

In [8]:
df['year'] = df[['Year_from', 'Year_to']].mean(axis=1).round()

In [9]:
df['year'] = df['year'].astype(int)

In [11]:
df.drop(columns=['Year_from', 'Year_to', 'battery_capacity_KW_per_h', 'charging_time_h', 'electric_range_km'], inplace = True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70170 entries, 0 to 70822
Data columns (total 14 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Make                                 70170 non-null  object
 1   Modle                                70170 non-null  object
 2   Body_type                            52252 non-null  object
 3   number_of_cylinders                  59266 non-null  float64
 4   engine_type                          59599 non-null  object
 5   engine_hp                            59598 non-null  float64
 6   engine_hp_rpm                        59130 non-null  object
 7   transmission                         59563 non-null  object
 8   mixed_fuel_consumption_per_100_km_l  40328 non-null  float64
 9   fuel_tank_capacity_l                 57583 non-null  object
 10  acceleration_0_100_km/h_s            39958 non-null  float64
 11  max_speed_km_per_h                   42850 non-null  object
 12  fuel_grade                           58457 non-null  object
 13  year                                 70170 non-null  int32
dtypes: float64(4), int32(1), object(9)
memory usage: 7.8+ MB

In [13]:
df['Tipe_Mobil'] = df['Body_type'].replace({
    'Cabriolet': 'Sedan',
    'Coupe': 'Sedan',
    'Roadster': 'Sedan',
    'Sedan': 'Sedan',
    'Crossover': 'Jeep',
    'Hatchback': 'Sedan',
    'Liftback': 'Sedan',
    'Wagon': 'Sedan',
    'Minivan': 'Bus',
    'Fastback': 'Sedan',
    'Pickup': 'PickUp',
    'Targa': 'Sedan',
    'hardtop': 'Sedan',
    'Limousine': 'Bus',
    'Hatchback 3 doors': 'Sedan'
})
df.drop(columns=['Body_type'], inplace=True)

In [14]:
df.isna().sum()

Make                                       0
Modle                                      0
number_of_cylinders                    10904
engine_type                            10571
engine_hp                              10572
engine_hp_rpm                          11040
transmission                           10607
mixed_fuel_consumption_per_100_km_l    29842
fuel_tank_capacity_l                   12587
acceleration_0_100_km/h_s              30212
max_speed_km_per_h                     27320
fuel_grade                             11713
year                                       0
Tipe_Mobil                             17918
dtype: int64

In [15]:
df.dropna(inplace=True)

In [16]:
df = df[df['year'] >= 2000]

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21457 entries, 9 to 70767
Data columns (total 14 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Make                                 21457 non-null  object
 1   Modle                                21457 non-null  object
 2   number_of_cylinders                  21457 non-null  float64
 3   engine_type                          21457 non-null  object
 4   engine_hp                            21457 non-null  float64
 5   engine_hp_rpm                        21457 non-null  object
 6   transmission                         21457 non-null  object
 7   mixed_fuel_consumption_per_100_km_l  21457 non-null  float64
 8   fuel_tank_capacity_l                 21457 non-null  object
 9   acceleration_0_100_km/h_s            21457 non-null  float64
 10  max_speed_km_per_h                   21457 non-null  object
 11  fuel_grade                           21457 non-null  object
 12  year                                 21457 non-null  int32
 13  Tipe_Mobil                           21457 non-null  object
dtypes: float64(4), int32(1), object(9)
memory usage: 2.4+ MB

In [18]:
df['number_of_cylinders'].unique()

array([ 8.,  6.,  4.,  5.,  2., 12.,  3., 10.,  7., 16.])

In [19]:
df['number_of_cylinders'] = df['number_of_cylinders'].astype(int)

In [20]:
df['number_of_cylinders'].unique()

array([ 8,  6,  4,  5,  2, 12,  3, 10,  7, 16])

In [21]:
df['year'].unique()

array([2000, 2004, 2016, 2008, 2002, 2007, 2012, 2018, 2015, 2006, 2010,
       2001, 2014, 2017, 2019, 2009, 2011, 2003, 2013, 2020, 2005])

In [22]:
df['Tipe_Mobil'].unique()

array(['Sedan', 'Jeep', 'Bus', 'PickUp'], dtype=object)

## Tipe_Mobil
- Sedan = 0
- Jeep = 1
- Bus = 2
- PickUp = 3

In [23]:
df['Tipe_Mobil'] = df['Tipe_Mobil'].replace({
    'Sedan': 0,
    'Jeep': 1,
    'Bus': 2,
    'PickUp': 3
})

In [24]:
df['Tipe_Mobil'] = df['Tipe_Mobil'].astype(int)

In [25]:
df['Tipe_Mobil'].unique()

array([0, 1, 2, 3])

In [26]:
df

,Make,Modle,number_of_cylinders,engine_type,engine_hp,engine_hp_rpm,transmission,mixed_fuel_consumption_per_100_km_l,fuel_tank_capacity_l,acceleration_0_100_km/h_s,max_speed_km_per_h,fuel_grade,year,Tipe_Mobil
9,AC,Aceca,8,Gasoline,354.0,6500,Manual,13.4,70,5.6,250,95,2000,0
11,AC,Aceca,8,Gasoline,326.0,5800,Manual,12.2,70,6.1,250,98,2000,0
54,Acura,MDX,6,Gasoline,240.0,5750,Automatic,13.2,73,8.7,190,92,2004,1
60,Acura,MDX,6,Gasoline,290.0,6200,Automatic,10.4,73,7.6,220,95,2016,1
68,Acura,NSX,6,Gasoline,255.0,6800,Manual,10.0,70,5.0,260,95,2004,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70756,ZAZ,Chance,4,Gasoline,86.0,5800,Manual,6.7,48,12.5,172,92,2014,0
70764,ZAZ,Sens,4,Gasoline,70.0,5500,Manual,7.2,48,17.0,162,95,2014,0
70765,ZAZ,Sens,4,Gasoline,70.0,5500,Manual,7.2,48,17.0,162,95,2014,0
70766,ZAZ,Vida,4,Gasoline,109.0,5600,Manual,7.3,45,11.5,170,95,2016,0
70767,ZAZ,Vida,4,Gasoline,109.0,5600,Manual,7.8,45,11.5,170,95,2016,0

In [27]:
not_used = ['Hybrid', 'Gasoline, Electric', 'Diesel, Hybrid']
df = df[~df['engine_type'].isin(not_used)]

In [28]:
df['engine_type'] = df['engine_type'].replace({
    'Gasoline, Gas': 'Gasoline',
    'Gas': 'Gasoline',
})

C:\Users\Dinova\AppData\Local\Temp\ipykernel_2524\1321999188.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['engine_type'] = df['engine_type'].replace({

In [29]:
df['engine_type'].unique()

array(['Gasoline', 'Diesel'], dtype=object)

Tipe Bensin
- Gasoline = 0
- Diesel = 1

In [30]:
df.loc[:,'engine_type'] = df['engine_type'].replace({
    'Gasoline': 0,
    'Diesel': 1,
})

In [31]:
df['engine_type'].unique()

array([0, 1], dtype=object)

In [32]:
df['engine_type'] = df['engine_type'].astype(int)

C:\Users\Dinova\AppData\Local\Temp\ipykernel_2524\1707576425.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['engine_type'] = df['engine_type'].astype(int)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21242 entries, 9 to 70767
Data columns (total 14 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Make                                 21242 non-null  object
 1   Modle                                21242 non-null  object
 2   number_of_cylinders                  21242 non-null  int32
 3   engine_type                          21242 non-null  int32
 4   engine_hp                            21242 non-null  float64
 5   engine_hp_rpm                        21242 non-null  object
 6   transmission                         21242 non-null  object
 7   mixed_fuel_consumption_per_100_km_l  21242 non-null  float64
 8   fuel_tank_capacity_l                 21242 non-null  object
 9   acceleration_0_100_km/h_s            21242 non-null  float64
 10  max_speed_km_per_h                   21242 non-null  object
 11  fuel_grade                           21242 non-null  object
 12  year                                 21242 non-null  int32
 13  Tipe_Mobil                           21242 non-null  int32
dtypes: float64(3), int32(4), object(7)
memory usage: 2.1+ MB

In [45]:
not_used1 = ['Ethanol', '80']
df = df[~df['fuel_grade'].isin(not_used1)]

In [46]:
df['fuel_grade'].unique()

array(['95', '98', '92', 'diesel', '95, 92', '98, 95', 'Gasoline', 'Gas',
       '95, Ethanol', '98, 95, 92', '95, Gas', '92, Ethanol',
       'Gasoline, Gas', '98, Ethanol', '92, Gas', '98, Gas',
       '95, 92, Gas', '98, 95, Gas', '98, 95, 92, Ethanol'], dtype=object)

Octance Number
- Diesel = 50 = **0**
- Gasoline = Pertalite = 90 = **1**
- Pertamax = 92 = **2**
- Pertamax Plus = 92 to 98 = **3**

In [49]:
df['fuel_grade'] = df['fuel_grade'].replace({
    '95': '3',
    '92': '2',
    '98': '3',
    'diesel': '0',
    '95, 92': '2',
    '98, 95': '3',
    'Gasoline': '1',
    'Gas': '1',
    '95, Ethanol': '3',
    '98, 95, 92': '3',
    '95, Gas': '3',
    '92, Ethanol': '3',
    'Gasoline, Gas': '1',
    '92, Gas': '2',
    '98, Gas': '3',
    '95, 92, Gas': '2',
    '98, 95, Gas': '3',
    '98, 95, 92, Ethanol': '3',
    '98, Ethanol': '3'
})

In [50]:
df['fuel_grade'].unique()

array(['3', '2', '0', '1'], dtype=object)

In [51]:
df['fuel_grade'] = df['fuel_grade'].astype(int)

In [61]:
df['max_speed_km_per_h'] = df['max_speed_km_per_h'].str.replace(',', '.').astype(float).astype(int)

In [64]:
df['max_speed_km_per_h'] = df['max_speed_km_per_h'].astype(int).round()

In [75]:
df['fuel_tank_capacity_l'] = df['fuel_tank_capacity_l'].str.replace(',', '.').astype(float).astype(int)

In [78]:
df['engine_hp_rpm'] = df['engine_hp_rpm'].astype(int)

In [81]:
df['transmission'].unique()

array(['Manual', 'Automatic', 'robot',
       'Continuously variable transmission (CVT)'], dtype=object)

Tipe Transmisi
- Automatic = 0
- Manual = 1

In [84]:
not_used2 = ['robot', 'Continuously variable transmission (CVT)']
df = df[~df['transmission'].isin(not_used2)]

In [88]:
df['transmission'] = df['transmission'].replace({
    'Manual': '1',
    'Automatic': '0'
    })

In [90]:
df['transmission'] = df['transmission'].astype(int)

In [91]:
df['transmission'].unique()

array([1, 0])

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18595 entries, 9 to 70767
Data columns (total 14 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Make                                 18595 non-null  object
 1   Modle                                18595 non-null  object
 2   number_of_cylinders                  18595 non-null  int32
 3   engine_type                          18595 non-null  int32
 4   engine_hp                            18595 non-null  float64
 5   engine_hp_rpm                        18595 non-null  int32
 6   transmission                         18595 non-null  int32
 7   mixed_fuel_consumption_per_100_km_l  18595 non-null  float64
 8   fuel_tank_capacity_l                 18595 non-null  int32
 9   acceleration_0_100_km/h_s            18595 non-null  float64
 10  max_speed_km_per_h                   18595 non-null  int32
 11  fuel_grade                           18595 non-null  int32
 12  year                                 18595 non-null  int32
 13  Tipe_Mobil                           18595 non-null  int32
dtypes: float64(3), int32(9), object(2)
memory usage: 1.5+ MB

In [93]:
df

,Make,Modle,number_of_cylinders,engine_type,engine_hp,engine_hp_rpm,transmission,mixed_fuel_consumption_per_100_km_l,fuel_tank_capacity_l,acceleration_0_100_km/h_s,max_speed_km_per_h,fuel_grade,year,Tipe_Mobil
9,AC,Aceca,8,0,354.0,6500,1,13.4,70,5.6,250,3,2000,0
11,AC,Aceca,8,0,326.0,5800,1,12.2,70,6.1,250,3,2000,0
54,Acura,MDX,6,0,240.0,5750,0,13.2,73,8.7,190,2,2004,1
60,Acura,MDX,6,0,290.0,6200,0,10.4,73,7.6,220,3,2016,1
68,Acura,NSX,6,0,255.0,6800,1,10.0,70,5.0,260,3,2004,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70756,ZAZ,Chance,4,0,86.0,5800,1,6.7,48,12.5,172,2,2014,0
70764,ZAZ,Sens,4,0,70.0,5500,1,7.2,48,17.0,162,3,2014,0
70765,ZAZ,Sens,4,0,70.0,5500,1,7.2,48,17.0,162,3,2014,0
70766,ZAZ,Vida,4,0,109.0,5600,1,7.3,45,11.5,170,3,2016,0
70767,ZAZ,Vida,4,0,109.0,5600,1,7.8,45,11.5,170,3,2016,0